<div *ngIf="adminCategories$ | async as adminCategories">
  <nav class="nav-content"  [ngClass]="{ nav__active: isShown }">
    <div class="admin-menu" (click)="toggleShow()">
      <button type="checkbox" class="but-menu" (click)="toggleOpenBtn()" [ngClass]="{ active: isOpenBtn }">
        <span></span>
      </button>
    </div>
    <ul class="nav-list" *ngIf="isShown" >
      <div class="menu-logo">
        <a href="admin/dashboard">
          <img src="assets/images/logo.png" alt="logo" class="img-responsive">
        </a>
      </div>
      <li class="nav-item colorActive" *ngFor="let adminCategory of adminCategories" (click)="toggleColor()" [ngClass]="{ colorActive: isColor }">
        <a  routerLink="{{ adminCategory.name }}">{{ adminCategory.name }}</a>
      </li>
    </ul>
  </nav>
</div>

