<header class="header-dashboard">
  <div class="wrap-logo">
    <a routerLink="/dashboard">
      <img alt="logo" class="img-responsive" src="assets/images/logo1.png">
    </a>
  </div>
  <div class="wrap-hello">
    <h2>{{ hello }}! <span>{{ _auth.description}}</span></h2>
  </div>
  <div class="wrap-logout">
    <button
      (click)="_auth.logout()"
      class="but-log"
      type="submit"
    >log out</button>
  </div>
</header>
<div class="dashboard-layout">
  <nav *ngIf="categoriesAdmin$ | async as categoriesAdmin" class="dashboard-nav">
    <ul class="dashboard-left__menu">
      <li class="dashboard-left__list">
        <a routerLink="/dashboard">{{ title }}</a>
      </li>
      <li *ngFor="let categoryAdmin of categoriesAdmin" class="dashboard-left__list">
        <a routerLink="{{ categoryAdmin.name }}">{{ categoryAdmin.name }}</a>
      </li>
    </ul>
  </nav>
  <div class="content">
    <div class="wrap-header-content">
<!--      <h1>{{ title }} </h1>-->
    </div>
    <router-outlet></router-outlet>
  </div>
</div>







