<div class="wrapper-dashboard">
  <div class="content" [ngClass]="{ content__active: isContentShow}">
    <app-left-nav (click)="toggleShow()"></app-left-nav>
    <section class="sec-dashboard">
      <div class="card-dashboard">
        <h2>{{ title }}</h2>
        <p class="user-block">{{ hi }}<span>{{ auth.description }}</span>  </p>
        <button class="button-dash" type="submit" (click)="auth.logout()">Log Out</button>
      </div>
      <div class="wrap-cart-post-icon">
        <div class="card-post-icons">
          <app-cart-post-icon></app-cart-post-icon>
        </div>
        <div class="card-categories-icons">
          <app-card-categories-icon></app-card-categories-icon>
        </div>
        <div class="card-users-icons">
          <app-card-users-icon></app-card-users-icon>
        </div>
        <div class="card-roles-icons">
          <app-card-roles-icon></app-card-roles-icon>
        </div>
      </div>
    </section>
  </div>
</div>


