  <div class="wrapper-dashboard" *ngIf="adminCategories$ | async as adminCategories">
  <nav class="nav-content" [ngClass]="{ nav__active: isShown }">
    <div class="admin-menu" (click)="toggleShow()">
      <button type="checkbox" class="but-menu" (click)="toggleOpenBtn()" [ngClass]="{ active: isOpenBtn }">
        <span></span>
      </button>
    </div>
    <ul class="nav-list" *ngIf="isShown" >
      <div class="menu-logo">
        <a href="admin/dashboard">
          <img src="assets/images/logo.png" alt="logo" class="img-responsive">
        </a>
      </div>
      <li class="nav-item colorActive" *ngFor="let adminCategory of adminCategories" (click)="toggleColor()" [ngClass]="{ colorActive: isColor }">
        <a  routerLink="{{ adminCategory.name }}">{{ adminCategory.name }}</a>
      </li>
    </ul>
  </nav>
  <div class="content" [ngClass]="{ content__active: isContentShow}">
    <section class="sec-dashboard">
      <div class="card-dashboard">
        <h2>{{ title }}</h2>
        <p class="user-block">{{ hi }}<span>{{ auth.description }}</span>  </p>
        <button class="button-dash" type="submit" (click)="auth.logout()">Log Out</button>
      </div>
      <div class="wrap-cart-post-icon">
        <div class="card-post-icons">
          <app-cart-post-icon></app-cart-post-icon>
        </div>
        <div class="card-categories-icons">
          <app-card-categories-icon></app-card-categories-icon>
        </div>
        <div class="card-users-icons">
          <app-card-users-icon></app-card-users-icon>
        </div>
        <div class="card-roles-icons">
          <app-card-roles-icon></app-card-roles-icon>
        </div>
      </div>
    </section>
  </div>
</div>



