  <div class="wrapper-dashboard">
  <nav class="nav-content" [ngClass]="{ nav__active: isShown }">

    <button type="checkbox" class="admin-menu" (click)="toggleShow()">Click</button>
    <ul class="nav-list" *ngIf="isShown">
      <li>
        <a href="#">gbgbn</a>
      </li>
      <li><a href="#">gnbn</a></li>
      <li><a href="#">nnnn</a></li>
    </ul>
  </nav>
  <div class="content" [ngClass]="{ content__active: isContentShow}">
    <section>
      <div class="card-dashboard">
        <h2>{{ title }}</h2>
      </div>
    </section>
  </div>
</div>

