<div class="wrap-categories">
  <button class="but2" type="submit" (click)="onEdit()">
    <i class="material-icons opacity-10">add</i>
  </button>
  <button class="but1" type="submit" (click)="onDelete()">
    <i class="material-icons opacity-10">delete</i>
  </button>
</div>
<div class="wrap-show-category" *ngIf="categories$ | async as categories">
  <div class="wrap-table-categories">
    <i class="material-icons opacity-10">list</i>
    <h3>Categories</h3>
  </div>
  <ul class="header-table-categories" #list>
    <li *ngFor="let category of categories">
      <label class="container">
        <input type="checkbox" data-id="{{ category.id }}">
        <div class="checkmark"></div>
      </label>
      <p class="category-name">{{ category.name}}</p>
      <button class="but3" >
        <i class="material-icons opacity-10">edit</i>
      </button>
    </li>
  </ul>
</div>
