<div class="wrap-categories">
  <button (click)="onCreate()" class="but2" type="submit">
    <i class="material-icons opacity-10">add</i>
  </button>
  <button (click)="onDelete()" class="but1" type="submit">
    <i class="material-icons opacity-10">delete</i>
  </button>
</div>
<div *ngIf="categories$ | async as categories" class="wrap-show-category">
  <div class="wrap-table-categories">
    <i class="material-icons opacity-10">list</i>
    <h3>Categories</h3>
  </div>
  <ul #list class="header-table-categories">
    <li *ngFor="let category of categories">
      <label class="container">
        <input data-id="{{ category.id }}" type="checkbox">
        <div class="checkmark"></div>
      </label>
      <p class="category-name">{{ category.name }}</p>
      <button (click)="updateCategoryId(category.id)" class="but3" type="submit">
        <i class="material-icons opacity-10">edit</i>
      </button>
    </li>
  </ul>
</div>
