<div class="card-login">
  <form>
    <h2>Registration</h2>
    <div class="custom-input">
      <label class="custom-field one">
        <input type="email" placeholder=" " />
        <span class="custom-placeholder">Enter Email</span>
      </label>
    </div>
    <div class="custom-input">
      <label class="custom-field one">
        <input type="password" placeholder=" " />
        <span class="custom-placeholder">Enter Password</span>
      </label>
    </div>
    <div class="custom-button">
      <button class="btn" type="submit">registration</button>
    </div>
  </form>
</div>
