<div class="card-login">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>{{ title }}</h2>
    <div class="custom-input" [ngClass]="{invalid: form.invalid && (form.touched || form.dirty)}">
      <input type="email" name="email" class="input" formControlName="email" placeholder="Enter email...">
      <span *ngIf="form.invalid && (form.touched || form.dirty)" class="alert-error ">
        <span
          *ngIf="email?.errors?.['required']"
          class="err">
            Email must not be empty
        </span>
        <span
          *ngIf="email?.errors?.['email']"
        >
         Incorrect Email
        </span>
      </span>
    </div>

    <div class="custom-input">
      <input type="password" name="password" class="input" formControlName="password" placeholder="Enter password...">
      <span *ngIf="form.invalid && (form.touched || form.dirty)" class="alert-error">
        <span
          *ngIf="password?.errors?.['required']"
          class="err">
            Password not be empty
        </span>
        <span
          *ngIf="password?.errors?.['minlength']"
        >
          Password must be at least 6 characters long.
        </span>
    </span>
    </div>

    <small class="alert-error">{{ message }}</small>
    <div class="custom-button">
      <button
        class="but"
        type="submit"
        [disabled]="form.invalid || form.disabled"
      >log in</button>
    </div>
    <div class="form-item">
      <a routerLink="/admin/registration">Sing Up</a>
    </div>
  </form>
</div>
