.wrap-categories {
  display: grid;
  grid-template-columns: 1fr 50px 40px;
  padding: 0 2.2em;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
h2 {
  grid-column: 1;
  display: block;
  padding-left: 50px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  padding-top: 7px;
  &:first-letter {
    text-transform: uppercase;
  }
}
.but2 {
  grid-column: 2;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  position: relative;
  border: 1px solid #f0f2f5;
  transition: all .3s;
  border-radius: .3em;
  background: #f0f2f5;
  box-shadow:  5px 5px 10px #ccced0,
  -5px -5px 10px #ffffff;
  &:active {
    color: #777;
    box-shadow: inset 5px 5px 10px #ccced0,
    inset -5px -5px 10px #ffffff;
  }
  .material-icons {
    padding: 5px 0 0 0;
  }
}
.but1 {
  grid-column: 3;
  justify-self: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  position: relative;
  border: 1px solid #f0f2f5;
  transition: all .3s;
  border-radius: .3em;
  background: #e63573;
  box-shadow:  5px 5px 10px #ccced0,
  -5px -5px 10px #ffffff;
  &:active {
    color: #777;
    box-shadow: inset 5px 5px 10px #ccced0,
    inset -5px -5px 10px #ffffff;
  }
  .material-icons {
    color: #fff;
    padding: 5px 0 0 0;
  }
}
.wrap-show-category {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-row-gap: 30px;
  width: 100%;
  height: 60px;
  margin-top: 2em;
}
.wrap-table-categories {
  grid-column: 1 ;
  grid-row: 1;
  display: flex;
  margin-left: 1em;
  padding: 0 2em;
  align-items: center;
  width: 96%;
  height: 50px;
  background: #f0f2f5;
  box-shadow:  5px 5px 10px #ccced0,
  -5px -5px 10px #ffffff;
  h3 {
    display: block;
    margin-left: 10px;
    padding-top: 17px;
  }
}
.header-table-categories {
  grid-column: 1 / 4;
  grid-row: 2;
  padding: 0 2em;
  li {
    display: grid;
    grid-template-columns: 50px 2fr 50px;
    height: 50px;
    margin-bottom: 1em;
    grid-column-gap: 10px;
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .container {
      display: block;
      position: relative;
      cursor: pointer;
      font-size: 20px;
      user-select: none;
      width: 50px;
      height: 50px;
      border-radius: .3em;
      border: 1px solid #f0f2f5;
      transition: all .3s;
      background: #f0f2f5;
      box-shadow:  6px 6px 12px #ccced0,
      -6px -6px 12px #ffffff;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: relative;
      top: 11px;
      left: -1.5px;
      height: 1.3em;
      width: 1.3em;
      background: #f0f2f5;
      box-shadow: inset 6px 6px 12px #ccced0,
      inset -6px -6px 12px #ffffff;
      transition: all 0.3s;
      border-radius: 5px;
    }
    .container input:checked ~ .checkmark {
      background-color: #47da99;
      animation: pop 0.5s;
      animation-direction: alternate;
      box-shadow:  6px 6px 12px #ccced0,
      -6px -6px 12px #ffffff;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
      left: 0.5em;
      top: 0.3em;
      width: 0.25em;
      height: 0.5em;
      border: solid white;
      border-width: 0 0.15em 0.15em 0;
      transform: rotate(45deg);
    }

    @keyframes pop {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(0.9);
      }

      100% {
        transform: scale(1);
      }
    }

    .hidden-xs-up {
      display: none!important;
    }

  };
  .category-name {
    border: none;
    border-radius: .3em;
    padding: 15px;
    background: #f0f2f5;
    box-shadow:  5px 5px 10px #ccced0,
    -5px -5px 10px #ffffff;
    font-size: medium;
    font-weight: bold;
    //max-width: 200px;
  }
  .but3 {
    grid-column: 3;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    position: relative;
    border: 1px solid #f0f2f5;
    transition: all .3s;
    border-radius: .3em;
    background: #f0f2f5;
    box-shadow:  5px 5px 10px #ccced0,
    -5px -5px 10px #ffffff;
    &:active {
      color: #777;
      box-shadow: inset 5px 5px 10px #ccced0,
      inset -5px -5px 10px #ffffff;
    }
    .material-icons {
      padding: 5px 0 0 0;
    }
  }

}

