.dashboard {
  height: 100vh;
}
.wrapper-dashboard {
  position: relative;
  overflow-x: hidden;
}
.menu-dashboard {
  position: fixed;
  left: 0;
  top: 0;
  width: 30vw;
  height: 100vh;
  transition: all .5s;
  transform: translateX(-100%);
  z-index: 2;
}
.menuActive {
  transform: translateX(0%);
}
.nav-left-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(195deg, rgb(66 66 74) 0%, rgb(25 25 25) 100%);
  padding: 25%;
  margin: 1em 0 1em 1em;
  height: 96.5vh;
  border-radius: 10px;
}
.list-item {

}

.but-left-menu-dashboard {
  border: none;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #f00000;
  position: absolute;
  top: 15px;
  right: -40px;
}
.content-dashboard {
  transition: .5s;
  position: relative;
  z-index: 0;
}
.contentActive {
  transform: translateX(30%);
  transition: .5s;
}
