.header-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1920px;
  width: 98%;
  height: 70px;
  background: #f0f2f5;
  padding: 0 2em;
  margin: 0 1em;
  box-shadow:  10px 10px 20px #d6d7da;
  .wrap-logo {
    grid-column: 1;
    align-self: center;
    justify-self: start;
  }
  .wrap-hello {
    grid-column: 2;
    align-self: center;
    justify-self: center;
  }
  .wrap-logout {
    grid-column: 3;
    justify-self: end;
    align-self: center;
    .but-log {
      color: #090909;
      padding: 0.7em 1.7em;
      font-size: 18px;
      border: 1px solid #f0f2f5;
      transition: all .3s;
      border-radius: .3em;
      background: #f0f2f5;
      box-shadow:  5px 5px 10px #ccced0,
      -5px -5px 10px #ffffff;
      &:active {
        color: #777;
        box-shadow: inset 5px 5px 10px #ccced0,
        inset -5px -5px 10px #ffffff;
      }
    }
  }
}
.dashboard-layout {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-column-gap: 20px;
}
.dashboard-nav {
  padding: 1em .5em 1em 1em;
  .dashboard-left__menu {
    background-color: #39393f;
    height: 87vh;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
    border-radius: 0.75rem;
    padding-top: 2em;
    .dashboard-left__list {
      display: block;
      margin: 3em 1em;
      a {
        display: block;
        width: 100%;
        text-decoration: none;
        padding: .9em 1.7em;
        font-size: 18px;
        font-weight: 700;
        background: #39393f;
        box-shadow:  10px 10px 20px #333338,
        -10px -10px 20px #3f3f46;
        color: #f1f2f6;
        border-radius: .5em;
        &:first-letter {
          text-transform: uppercase;
        }
        &:active {
          color: #777777;
          border-radius: .5em;
          background: #39393f;
          box-shadow: inset 10px 10px 20px #2e2e33,
          inset -10px -10px 20px #44444b;
        }
      }
    }
  }
}
.content {
  margin-top: 1.2em;
  width: 99%;
  height: 87vh;
  border-radius: .75em;
  background-color: #f0f2f5;
  box-shadow:  10px 10px 20px #d6d7da,
  -10px -10px 20px #ffffff;
  .wrap-header-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    h1 {
      display: block;
      margin-left: 20px;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.5em;
      font-weight: 800;

    }
  }
}
