.nav-content {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  padding: 1em 0 1em 1em;
  transition: all .5s;
  transform: translateX(-100%);
  z-index: 99;
}
.nav__active {
  transform: translateX(-90%);
}
.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  background-color: #222224;
  border-radius: 20px;
  box-shadow:  8px 8px 16px rgba(0,  0, 0, 1);
}
.menu-logo {
  padding: 30px;
}
.admin-menu {
  position: absolute;
  top: 1.5em;
  right: -35px;
  z-index: 99;
}
.nav-list li {
  border-radius: 0.375em;
  align-items: center;
  margin: 0 1em 1.5em 1em;
  font-weight: 300;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  background-color: #222224;
  box-shadow:  8px 8px 16px #1c1c1e,
  -8px -8px 16px #28282a;
  &:hover {
    background-color: rgba(86, 85, 90, 1);
  }
  a {
    display: block;
    padding: 0.75em 1em;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    white-space: nowrap;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}
.colorActive {
  color: rgb(255 255 255);
  border-right-width: 0;
  border-bottom-width: 0;
  background-color: rgb(233 30 99);
  border-color: rgb(233 30 99);
  box-shadow: 0 14px 26px -12px rgb(233 30 99 / 40%), 0 4px 23px 0 rgb(233 30 99 / 15%), 0 8px 10px -5px rgb(233 30 99 / 20%);
}
.but-menu {
  position: relative;
  display: block;
  width: 30px;
  height: 20px;
  background-color: transparent;
  border: transparent;
  outline: none;
}
.but-menu span,
.but-menu span::before,
.but-menu span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -15px;
  width: 30px;
  height: 2px;
  background-color: #222;
}
.but-menu span::before,
.but-menu span::after {
  content: '';
  display: block;
  transition: .5s;
}
.but-menu span::before {
  transform: translateY(-7px);
}
.but-menu span::after {
  transform: translateY(7px);
}
.active span::before {
  transform: rotate(45deg);
}
.active span {
  height: 0;
}
.active span::after {
  transform: rotate(-45deg);
}
