.wrap-icon-post-card {
  position: relative;
}
.icon {
  position: absolute;
  top: -.7em;
  left: 100px;
  padding: .7em;
  color: #fff;
  font-size: 2em;
  border-radius: .375em;
  background: rgba(0, 0, 0, .9);
}
.card-number {
  margin-top: 1em;
}






