@import "log-in";
@import "blog";
@import "post";
@import "dashboard";
@import "categories";
@import "media";


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}








